<!DOCTYPE html>
<html>
<head>
<!-- CSS Header and Footer -->


	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>	
	<title>Michael Hövel</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Homepage Michael Hoevel">
	<meta name="author" content="Michael Hoevel">


	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

</head>

<body class="header-fixed">
	<div class="wrapper">
		<!--=== Header v6 ===-->
		<div class="header-v6 header-white-transparent header-sticky">
			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="menu-container">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					

						<!-- Navbar Brand -->
						<div class="navbar-brand">
							<%= link_to "Michael Hövel", index_about_path %>
						</div>
						<!-- End Navbar Brand -->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<div class="menu-container">
							<ul class="nav navbar-nav">
								<li><%= link_to "About Me", index_about_path %></li>
								<li><%= link_to "Projects", index_projects_path %></li>
								<li><%= link_to "Hobbies", index_hobbies_path %></li>
								<li><%= link_to "Contact", index_contact_path %></li>					
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="content">
		<%= yield %>
	</section>
</body>

</html>
