<!DOCTYPE html>
<html>
  <head>
	<!-- CSS Header and Footer -->

  <title>Michael Hövel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>	
  </head>
  
<body id="page-top" class="index">

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">Michael Hövel</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse transparent id="mynavbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"> <a href="#page-top"></a>
					<li><%= link_to "About Me", index_about_path %></li>
					<li><%= link_to "Projects", index_projects_path %></li>
					<li><%= link_to "Hobbies", index_hobbies_path %></li>
					<li><%= link_to "Contact", index_contact_path %></li>
					
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<section id="content">
	<%= yield %>
</section>
</body>

</html>
